img{
    border-radius: 3%;
    width: 100%;
    height: 100%;
}

#card{
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
}

/* #card-base{
    background-image: radial-gradient(#fff, #fff, rgb(25, 161, 211));
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain;
} */

.link-color{
    color: black
}

i{
    margin: 5px 10px 5px 10px;
}